.index{
    width: 100%;
    padding: 0;
    .description{
        width: 93.5%;
        position: absolute;
        bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            margin-left: 5px;
            color: black;
            cursor: pointer;
            text-decoration: none;
        }
    }
}