.image{
        .image_content_img{
            width: 100px;
            height: 100px;
            border: 0;
            margin: 5px;
        }
        .image_content_img_big{
            width: 200px;
            height: 200px;
        }
}
